
body, html {
    background-color: #F7F7F7;
}

#navbar {
	top:0px;
	left: 0px;
	margin:0px;
	padding:0px;
	width:100%;
	height:50px;
	position:fixed;
	display:block;
	background-color:#FFF;
	border-bottom: 2px solid rgba(0,0,0,0.15);
	z-index:2;
}

#profile {
	top:5px;
	height:40px;
	left:50%;
	margin-left:-480px;
	max-width:370px;
	position:absolute;
	display:inline-block;
	cursor:pointer;
	border-radius:5px;
	text-decoration: none;
}

#profile:hover {
	background-color:#EEE;
}


#profile img {
    width: 36px;
    height: 36px;
	padding: 2px;
	margin: 0px 6px -2px 10px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
	display:inline-block;
	position:relative;
	display:none;
}

#profile svg {
    width: 36px;
    height: 36px;
	padding: 2px;
	margin: 0px 8px;
	display:inline-block;
	position:relative;
	color:#AAA;
}

#profile span {
    margin-right: 10px;
    overflow: hidden;
    max-width: 300px;
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
    font-weight: bold;
    font-size: 24px;
    position: relative;
	color:#444;
}

#search {
	top:0px;
	left:50%;
	margin-left:-100px;
	height:50px;
	width: 200px;
	position:absolute;
	display:inline-block;
}

#search input {
	top:10px;
	left:0px;
    width:130px;
	margin: 5px 0px 0px 36px;
    height: 24px;
    display: block;
    font-size: 16px;
	background-color:#FFF;
	border:none;
	position:absolute;
	border-bottom:2px solid #BBB;
}

#search input:focus {
    outline: 0;
}

#search svg {
	margin-left: 10px;
	margin-top: 18px;
	font-size: 18px;
	color: #AAA;
}

#actions {
	top:0px;
	left:50%;
	margin-left:330px;
	height:50px;
	width: 150px;
	position:absolute;
	display:inline-block;
}

#actions svg {
	padding:8px;
	margin:3px;
	font-size: 26px;
	color: #AAA;
	border-radius:5px;
	cursor:pointer;
}

#actions svg:hover {
	background-color:#EEE;
}