
#feed {
	top:0px;
	left:50%;
	width:960px;
	margin-top:60px;
	overflow: hidden;
	position:absolute;
	margin-left:-480px;	
}

.brick {
	margin:7px 0px 15px 0px;
	border:1px solid #CCC;
	border-radius:5px 5px 5px 5px;
}

.brick .header {
	height: 32px;
	position: relative;
	background-color: #FFF;
	border-radius:5px 5px 0px 0px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.brick .header .author {
	margin-top:5px;
	display:inline-block;
	cursor:pointer;
	border-radius:5px;
	float: left;
}

.brick .header .author img {
    width: 36px;
    height: 36px;
	padding: 2px;
	margin: 0px 6px -2px 10px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
	display:inline-block;
	position:relative;
	display:none;
}

.author-icon {
	padding: 2px;
	margin: 0px 2px 0px 6px;
	display:inline-block;
	font-size: 18px;
	position:relative;
	color:#AAA;
}

.brick .header .author span {
    overflow: hidden;
    max-width: 500px;
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
    font-weight: bold;
    font-size: 16px;
    position: relative;
	color:#444;
}

.brick .header .timestamp {
	float: left;
	margin: 8px 0px 0px 3px;
    font-weight: bold;
	color:#AAA;
}

.brick .header .actions {
	float: right;
	position: relative;
	margin:3px 3px 0px 0px;
}

.brick-action-icon {
	padding:2px;
	margin:2px;
	font-size: 18px;
	color: #AAA;
	cursor:pointer;
}

.brick .content {
	display: block;
	background-color: #FAFAFA;
	border-radius:0px 0px 5px 5px;
}

.brick .content .message {
	width:940px;
	padding:10px;
	text-align: left;
	position:relative;
	display:block;
}

.brick .content .media {
	width:940px;
	padding:10px;
	display:block;
}

.brick .content .media > :first-child {
	max-width:940px;
	display:block;
	margin: auto;
}
