
body, html {
    height: 100%;
    background-color: #F7F7F7;
}

.container {
    top: 50%;
    left: 50%;
    width:400px;
    height:300px;
    position:absolute;
    margin-top: -175px;
    margin-left: -200px;
}

.container img {
    width: 96px;
    height: 96px;
    margin: 0 auto 15px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

form input, button {
    width:300px;
    height: 44px;
    display: block;
    margin:10px auto;
    font-size: 16px;
    padding-left:10px;
    border-radius: 3px;
    border: 1px solid #CCC;
}

form input:focus {
    outline: 0;
    border-color: rgb(104, 145, 162);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

form button {
    width:310px;
    border: none;
    padding: 0px;
    cursor:pointer;
    font-weight: bold;
    transition: all 0.218s;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    background-color: rgb(104, 145, 162);
}

button:hover,
button:active,
button:focus {
    background-color: rgb(127, 187, 212);
}

.container a {
    margin:5px 50px;
    text-decoration: none;
    color: rgb(104, 145, 162);
}

.container a:hover, a:active {
    color: rgb(12, 97, 33);
}

.container form label {
    color:red;
    width:400px;
    display:block;
    text-align:center;
}