
table {
    padding-left: 10px;
}

table tr td:nth-child(2) {
    left: 15px;
    margin:0px;
    padding:0px;
    position: relative;
}

form input {
    height: 26px !important;
}

button:hover,
button:active,
button:focus {
    background-color: rgb(127, 187, 212);
}

.profile-picture {
    position: relative;
    top: 10px;
    left: 25px;
    width: 485px;
}

.profile-picture img {
    margin:auto;
    max-width: 200px;
    display: block;
}

.error-label {
    color:red;
    width:100%;
    display:none;
    text-align:center;
    padding-bottom: 10px;
}

.uploadSpan {
    width:300px;
    display: block;
    margin: auto;
    border: none;
    border-radius: 3px;
    padding: 15px;
    cursor:pointer;
    font-weight: bold;
    transition: all 0.218s;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    background-color: rgb(104, 145, 162);
    font-size: 16px;
    text-align: center;
}