<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Welcome to TheWall</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<script src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script th:src="@{/js/common.js}" src="../static/js/common.js"></script>
		<script th:src="@{/js/content.js}" src="../static/js/content.js"></script>
		<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" href="../static/css/index.css"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" href="../static/css/common.css"/>
    </head>
    <body>
		<div th:replace="navbar :: navbar"></div>
		<div id="feed">
			<div class="brick">
				<div class="header">
					<div class="author">
						<i class="fas fa-user author-icon"></i>
						<img th:src="@{/images/avatar.png}" src="../static/images/avatar.png"/>
						<span th:inline="text" th:text="${user.getUsername()}"></span>
					</div>
					<div class="timestamp">
						<span class="time">16 min ago</span>
					</div>
					<div class="actions">
						<i class="far fa-heart brick-action-icon unloved" onclick="toggleLove(this)"></i>
						<i class="fas fa-bullhorn brick-action-icon unshared" onclick="toggleShare(this)"></i>
						<i class="fas fa-minus brick-action-icon toggler" onclick="toggleBrickVisibility(this)"></i>
					</div>
				</div>
				<div class="content">
					<span class="message">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel ante in neque ullamcorper sodales at nec est. Curabitur vitae eleifend urna, et ultricies dolor. Praesent augue justo, dignissim sit amet porta placerat, sollicitudin eget est. Nullam porta neque purus, et porttitor tortor vulputate eu. Vivamus pulvinar vestibulum eleifend. Quisque sed nulla sagittis lectus rhoncus porttitor. Donec ut massa non urna consequat rhoncus. Morbi eleifend quam in arcu varius eleifend ac vel mi. Vestibulum euismod sagittis metus, et porttitor magna molestie eu. In nulla erat, convallis id orci sed, iaculis lobortis sem. Fusce sit amet viverra lectus, eget hendrerit felis. Phasellus imperdiet elementum aliquam. In hac habitasse platea dictumst. Sed et velit non urna cursus venenatis. Fusce pulvinar arcu vitae tristique consectetur. Mauris id dolor turpis.
					</span>
					<div class="media">
						<img class="media-img" th:src="@{/images/fallout.png}" src="../static/images/fallout.png"/>
					</div>
				</div>
			</div>
			<div class="brick">
				<div class="header">
					<div class="author">
						<i class="fas fa-user author-icon"></i>
						<img th:src="@{/images/avatar.png}" src="../static/images/avatar.png"/>
						<span th:inline="text">[[${#httpServletRequest.remoteUser}]]</span>
					</div>
					<div class="timestamp">
						<span class="time">16 min ago</span>
					</div>
					<div class="actions">
						<i class="far fa-heart brick-action-icon unloved" onclick="toggleLove(this)"></i>
						<i class="fas fa-bullhorn brick-action-icon unshared" onclick="toggleShare(this)"></i>
						<i class="fas fa-minus brick-action-icon toggler" onclick="toggleBrickVisibility(this)"></i>
					</div>
				</div>
				<div class="content">
					<span class="message">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel ante in neque ullamcorper sodales at nec est. Curabitur vitae eleifend urna, et ultricies dolor. Praesent augue justo, dignissim sit amet porta placerat, sollicitudin eget est. Nullam porta neque purus, et porttitor tortor vulputate eu. Vivamus pulvinar vestibulum eleifend. Quisque sed nulla sagittis lectus rhoncus porttitor. Donec ut massa non urna consequat rhoncus. Morbi eleifend quam in arcu varius eleifend ac vel mi. Vestibulum euismod sagittis metus, et porttitor magna molestie eu. In nulla erat, convallis id orci sed, iaculis lobortis sem. Fusce sit amet viverra lectus, eget hendrerit felis. Phasellus imperdiet elementum aliquam. In hac habitasse platea dictumst. Sed et velit non urna cursus venenatis. Fusce pulvinar arcu vitae tristique consectetur. Mauris id dolor turpis.
					</span>
					<div class="media">
						<img th:src="@{/images/lightbulb.png}" src="../static/images/lightbulb.png"/>
					</div>
				</div>
			</div>
			<div class="brick">
				<div class="header">
					<div class="author">
						<i class="fas fa-user author-icon"></i>
						<img th:src="@{/images/avatar.png}" src="../static/images/avatar.png"/>
						<span th:inline="text">[[${#httpServletRequest.remoteUser}]]</span>
					</div>
					<div class="timestamp">
						<span class="time">16 min ago</span>
					</div>
					<div class="actions">
						<i class="far fa-heart brick-action-icon unloved" onclick="toggleLove(this)"></i>
						<i class="fas fa-bullhorn brick-action-icon unshared" onclick="toggleShare(this)"></i>
						<i class="fas fa-minus brick-action-icon toggler" onclick="toggleBrickVisibility(this)"></i>
					</div>
				</div>
				<div class="content">
					<span class="message">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel ante in neque ullamcorper sodales at nec est. Curabitur vitae eleifend urna, et ultricies dolor. Praesent augue justo, dignissim sit amet porta placerat, sollicitudin eget est. Nullam porta neque purus, et porttitor tortor vulputate eu. Vivamus pulvinar vestibulum eleifend. Quisque sed nulla sagittis lectus rhoncus porttitor. Donec ut massa non urna consequat rhoncus. Morbi eleifend quam in arcu varius eleifend ac vel mi. Vestibulum euismod sagittis metus, et porttitor magna molestie eu. In nulla erat, convallis id orci sed, iaculis lobortis sem. Fusce sit amet viverra lectus, eget hendrerit felis. Phasellus imperdiet elementum aliquam. In hac habitasse platea dictumst. Sed et velit non urna cursus venenatis. Fusce pulvinar arcu vitae tristique consectetur. Mauris id dolor turpis.
					</span>
					<div class="media">
						<img th:src="@{/images/placeholder.jpg}" src="../static/images/placeholder.jpg"/>
					</div>
				</div>
			</div>
			<div class="brick">
				<div class="header">
					<div class="author">
						<i class="fas fa-user author-icon"></i>
						<img th:src="@{/images/avatar.png}" src="../static/images/avatar.png"/>
						<span th:inline="text">[[${#httpServletRequest.remoteUser}]]</span>
					</div>
					<div class="timestamp">
						<span class="time">16 min ago</span>
					</div>
					<div class="actions">
						<i class="far fa-heart brick-action-icon unloved" onclick="toggleLove(this)"></i>
						<i class="fas fa-bullhorn brick-action-icon unshared" onclick="toggleShare(this)"></i>
						<i class="fas fa-minus brick-action-icon toggler" onclick="toggleBrickVisibility(this)"></i>
					</div>
				</div>
				<div class="content">
					<span class="message">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel ante in neque ullamcorper sodales at nec est. Curabitur vitae eleifend urna, et ultricies dolor. Praesent augue justo, dignissim sit amet porta placerat, sollicitudin eget est. Nullam porta neque purus, et porttitor tortor vulputate eu. Vivamus pulvinar vestibulum eleifend. Quisque sed nulla sagittis lectus rhoncus porttitor. Donec ut massa non urna consequat rhoncus. Morbi eleifend quam in arcu varius eleifend ac vel mi. Vestibulum euismod sagittis metus, et porttitor magna molestie eu. In nulla erat, convallis id orci sed, iaculis lobortis sem. Fusce sit amet viverra lectus, eget hendrerit felis. Phasellus imperdiet elementum aliquam. In hac habitasse platea dictumst. Sed et velit non urna cursus venenatis. Fusce pulvinar arcu vitae tristique consectetur. Mauris id dolor turpis.
					</span>
					<div class="media">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/sr_vL2anfXA?rel=0"
								frameborder="0" allowfullscreen="true"></iframe>
					</div>
				</div>
			</div>
		</div>
    </body>
</html>