<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Login to TheWall</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" href="../static/css/login.css"/>
    </head>
    <body>
        <div class="container">
            <img th:src="@{/images/avatar.png}" src="../static/images/avatar.png" />
            <form th:action="@{/login}" method="post" enctype="multipart/form-data">
                <input name="username" type="email" placeholder="Email address" required="true" autofocus="true"/>
                <input name="password" type="password" placeholder="Password" required="true"/>
                <label th:if="${param.error}" class="info-label">Invalid username and password.</label>
                <label th:if="${param.logout}" class="info-label">You have been logged out.</label>
                <button type="submit">Sign in</button>
            </form>
            <a href="register.html">Register</a>
            <a href="#">Forgot the password?</a>
        </div>
    </body>
</html>