<div id="navbar" th:fragment="navbar">
	<a id="profile" href="user" th:if="${#httpServletRequest.requestURI != '/user'}">
		<i class="fas fa-user" ></i>
		<img th:src="@{/images/avatar.png}" src="../static/images/avatar.png"/>
		<span th:inline="text" th:if="${user != null}" th:text="${user.getUsername()}"></span>
	</a>
	<a id="profile" href="index" th:if="${#httpServletRequest.requestURI == '/user'}">
		<i class="fas fa-home"></i>
	</a>
	<div id="search">
		<input type="text" name="search"/>
		<i class="fas fa-search"></i>
	</div>
	<div id="actions">
		<i class="far fa-bell"></i>
		<i class="far fa-envelope"></i>
		<a href="logout"><i class="fas fa-sign-out-alt" ></i></a>
		<!--<i class="fas fa-bars"></i>-->
	</div>
</div>