<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Register</title>
        <script th:src="@{/js/user.js}" src="../static/js/register.js"></script>
        <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" href="../static/css/login.css"/>
    </head>
    <body>
        <div class="container">
            <form id="user-detail-form" th:action="@{/register}" method="post" enctype="multipart/form-data"
                  onsubmit="return validateForm()">
				<label style="color:#333; font-weight:bold; font-size:20px;">Registration form</label>
				<input name="username" type="text" placeholder="Username" required="true" autofocus="true"/>
                <input name="email" type="email" placeholder="Email address" required="true" autofocus="true"/>
                <input name="password" type="password" placeholder="Password" required="true"/>
				<input name="password_again" type="password" placeholder="Password again" required="true"/>
                <label id="error_label" class="info-label" style="display:none"></label>
                <label th:if="${param.nomatch}" class="info-label">Passwords do not match!</label>
				<label th:if="${param.alreadyinuse}" class="info-label">Username or email already in use!</label>
                <button type="submit">Register</button>
            </form>
        </div>
    </body>
</html>