<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Welcome to TheWall</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<script src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script th:src="@{/js/user.js}" src="../static/js/user.js"></script>
		<script th:src="@{/js/common.js}" src="../static/js/common.js"></script>
		<link rel="stylesheet" type="text/css" th:href="@{/css/user.css}" href="../static/css/user.css"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" href="../static/css/login.css"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" href="../static/css/common.css"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" href="../static/css/index.css"/>
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/ui-lightness/jquery-ui.css"/>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script>$( function() {$( "#datepicker" ).datepicker({ dateFormat: 'yyyy-mm-dd' });} );</script>
    </head>
    <body>
		<div th:replace="navbar :: navbar"></div>
		<div id="feed">
			<div class="brick" id="user-details">
				<div class="header">
					<div class="author">
						<i class="fas fa-user author-icon"></i>
						<span th:inline="text">Personal details</span>
					</div>
					<div class="actions">
						<i class="fas fa-save brick-action-icon save"
						   onclick="document.getElementById('submitForm').click();"></i>
						<i class="fas fa-minus brick-action-icon toggler" onclick="toggleBrickVisibility(this)"></i>
					</div>
				</div>
				<div class="content">
					<form id="user-detail-form" th:action="@{/save}" method="post" enctype="multipart/form-data"
						  onsubmit="return validateForm()">
						<table>
							<tbody>
								<tr>
									<td><span>Username </span></td>
									<td><input id="username" name="username" type="text"
											   onblur="checkUsername(this.value)"
											   th:value="${user.getUsername()}"/></td>
									<td class="profile-picture" rowspan="4">
										<img th:src="${user.getPictureHash()}" id="profilePicture"
											 src="../static/images/avatar.png"/>
									</td>
								</tr>
								<tr>
									<td><span>Full name </span></td>
									<td><input name="fullName" type="text" th:value="${user.getFullName()}"/></td>
								</tr>
								<tr>
									<td><span>Email </span></td>
									<td><input name="email" type="email" readonly="true"
											   th:value="${user.getEmail()}"/></td>
								</tr>
								<tr>
									<td><span>Password </span></td>
									<td><input name="password" type="password"/></td>
								</tr>
								<tr>
									<td><span>Password again </span></td>
									<td><input name="password_again" type="password"/></td>
									<td class="profile-picture" rowspan="2">
										<span class="uploadSpan"
										onclick="document.getElementById('fileUpload').click()">Change</span>
										<input style="display:none" id="profile_picture" name="profile_picture"
											   th:value="${user.getPictureHash()}"/>
									</td>
								</tr>
								<tr>
									<td><span>Birthday </span></td>
									<td><input type="text" id="datepicker" name="birthday"
											   th:value="${user.getBirthday()}"/></td>
								</tr>
							</tbody>
						</table>
						<button id="submitForm" type="submit" style="display:none"/>
						<label id="error_label" class="error-label"></label>
						<label th:if="${param.nomatch}"
							   class="error-label" style="display:block">Passwords do not match!</label>
						<label th:if="${param.username_taken}"
							   class="error-label" style="display:block">Username not unique!</label>
					</form>
					<input type="file" id="fileUpload" onchange="upload(this.files[0])" style="display:none"/>
				</div>
			</div>
			<table style="width: 100%; margin-left: 0px; padding-left: 0px;">
				<tr>
					<td class="brick" id="following" style="left:0px;">
						<div class="header">
							<div class="author">
								<i class="fas fa-users author-icon"></i>
								<span th:inline="text">Following</span>
							</div>
							<div class="actions">
								<i class="fas fa-minus brick-action-icon toggler" onclick="toggleBrickVisibility(this)"></i>
							</div>
						</div>
						<div class="content">
							<table>
								<th:block th:each="follow : ${following}">
									<tr>
										<td th:text="${follow.followerEmail}">...</td>
										<td th:text="${follow.followingEmail}">...</td>
									</tr>
								</th:block>
							</table>
						</div>
					</td>
					<td class="brick" id="followers" style="left:0px;">
						<div class="header">
							<div class="author">
								<i class="fas fa-users author-icon"></i>
								<span th:inline="text">Followers</span>
							</div>
							<div class="actions">
								<i class="fas fa-minus brick-action-icon toggler" onclick="toggleBrickVisibility(this)"></i>
							</div>
						</div>
						<div class="content">
							<table>
								<th:block th:each="follow : ${followers}">
									<tr>
										<td th:text="${follow.followerEmail}">...</td>
										<td th:text="${follow.followingEmail}">...</td>
									</tr>
								</th:block>
							</table>
						</div>
					</td>
				</tr>
			</table>
		</div>
    </body>
</html>